<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav">
        <a class="site-title" href="{{ '/' | relative_url }}">{{ site.title }}</a>
        {% for link in site.data.navigation.main %}
          <a href="{{ link.url | relative_url }}">{{ link.title }}</a>
        {% endfor %}
        {% if site.search == true %}
          <button class="search__toggle" type="button">
            <span class="visually-hidden">Toggle search</span>
            <i class="fas fa-search"></i>
          </button>
        {% endif %}
      </nav>
    </div>
  </div>
</div>
